<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count on Me</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header id="header">
            <nav class="navbar navbar-light bg-white navbar-expand-md fixed-top">
                <a class="navbar-brand isRed" href="#">
                    <h1><span class="isRed">TEDx</span><span>KasetsartU</span></h1>
                    <p><span class="isRed subTitle">x</span> = independently organized TED event</p>
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" id="startTimer" href="#" @click="startCountDown">Start</a>
                        </li>
                        <li class="nav-item displayNone" id="pause-resume">
                            <a class="nav-link" id="pause" href="#">Pause</a>
                            <a class="nav-link displayNone" id="resume" href="#">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="stopTimer" href="#" @click="clearCountDown">Stop</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main id="main">
            <section id="showtime">
                <div class="" v-if="!isEditable">
                    <div @click="handleEditable">
                        <span class="" tabindex="0" v-if="hours">{{ hours }}</span>
                        <span class="" v-if="hours">h</span>
                        <span class="" tabindex="0" v-if="minutes">{{ minutes }}</span>
                        <span class="" v-if="minutes">m</span>
                        <span class="" tabindex="0">{{ seconds }}</span>
                        <span class="">s</span>
                    </div>
                    <button @click="openFullscreen">Open fullscreen</button>
                    <button @click="closeFullscreen">Close fullscreen</button>
                </div>
                <input 
                    v-else
                    type="number" 
                    name="timer" 
                    id="timer" 
                    :placeholder="timer" 
                    v-on:keyup.enter="setTime"
                    @blur="setTime"
                    maxlength = "6"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                >
            </section>
        </main>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            isEditable: false,
            hours: 0,
            minutes: 0,
            seconds: 0,
            interval: '',
        },
        computed: {
            timer: function() {
                return `${this.hours}h ${this.minutes}m ${this.seconds}s`;
            }
        },
        methods: {
            setTime: function(e) {
                while (e.target.value.length < 6) {
                    e.target.value = `0${e.target.value}`;
                }
                this.hours = Number(e.target.value[0])*10 + Number(e.target.value[1]);
                this.minutes = Number(e.target.value[2])*10 + Number(e.target.value[3]);
                this.seconds = Number(e.target.value[4])*10 + Number(e.target.value[5]);
                if (this.minutes > 59) this.minutes = 59;
                if (this.seconds > 59) this.seconds = 59;
                this.isEditable = false;
            },
            handleEditable: function() { 
                this.isEditable = !this.isEditable;
                this.clearCountDown();
            },
            openFullscreen: function() {
                var elem = document.documentElement;
                
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { 
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { 
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { 
                    elem.msRequestFullscreen();
                }
            },
            closeFullscreen: function() {
                var elem = document.documentElement;

                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { 
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { 
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { 
                    document.msExitFullscreen();
                }
            },
            startCountDown: function() {
                this.interval = setInterval(() => {
                    if (this.seconds > 0) this.seconds--;
                    else if (this.minutes > 0) this.minutes--;
                    else if (this.hours > 0) this.hours--;
                    if (!this.hours && !this.minutes && !this.seconds) this.clearCountDown();
                }, 1000);
            },
            clearCountDown: function() {
                clearInterval(this.interval);
            }
        }
    })
</script>
<!-- <script src="script.js"></script> -->
</body>
</html>