:root {
    --red: rgb(230, 43, 30);
    --white: #fff;
    --lightText: #999;
    --text: #333;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

.isRed {
    color: var(--red);
}

.isWhite {
    color: var(--white);
}

.isLight {
    color: var(--lightText);
}

.isText {
    color: var(--text);
}

.bgRed {
    background-color: var(--red);
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

#showtime {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    text-align: center;
    font-size: 10vw;
}

@keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

@-webkit-keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

.timerAnimation {
    animation: timerAnimation 2s infinite;
    -webkit-animation: timerAnimation 2s infinite;
}