:root {
    --red: rgb(230, 43, 30);
    --white: #fff;
    --lightText: #999;
    --text: #333;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.isRed {
    color: var(--red);
}

.isWhite {
    color: var(--white);
}

.isLight {
    color: var(--lightText);
}

.isText {
    color: var(--text);
}

.bgRed {
    background-color: var(--red);
}

.displayNone {
    display: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
}

.navbar-brand {
    margin: 1%;
    max-height: 100%;
    text-decoration: none;
}

.navbar-brand img {
    margin: .5rem 0;
    max-height: 90%;
    max-width: 150px;
}

.navbar-brand h1 {
    font-size: 1.5em;
}

.navbar-brand p {
    font-size: 0.8em;
    color: var(--text);
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-item {
   text-align: center;
   padding: 20px 10px; 
}

.nav-link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    color: var(--red);
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -10px;
    border-bottom: 5px solid var(--red);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

#showtime {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counterForm {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -2;
}

.timeUnit {
    margin-right: .75rem;
}

.cursor {
    padding-left: .15rem;
    border-left: 1px solid;
}

.countDown {
    text-align: center;
}

.toFill {
    color: #999;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #aaaaaa;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #bbb;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    color: var(--white);
    background-color: rgb(252, 82, 72);
}

.btn-primary:hover {
    background-color: rgb(233, 69, 60);
}

.btn-secondary {
    color: #444;
    background-color: #eee;
}

.btn-secondary:hover {
    background-color: #ddd;
}

.btn-icon {
    background: none;
    border: none;
}

.btn-icon:hover {
    cursor: pointer;
}

.btn-icon i {
    font-size: 1rem;
    color: #666
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
}

@media only screen and (max-width: 576px) {
    .countDown {
        width: 100vw;
        max-width: 100vw;
    }

    .countDown div span {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 576px) {
    .countDown {
        width: 90vw;
        max-width: 90vw;
    }

    .countDown div span {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .countDown {
        width: 90vw;
        max-width: 90vw;
    }

    .countDown div span {
        font-size: 6rem;
    }
}

@media only screen and (min-width: 992px) {
    .countDown {
        width: 90vw;
        max-width: 90vw;
    }

    .countDown div span {
        font-size: 7rem;
    }

    .timeUnit {
        margin-right: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .countDown {
        width: 80vw;
        max-width: 80vw;
    }

    .countDown div span {
        font-size: 8rem;
    }

    .timeUnit {
        margin-right: 2rem;
    }
}

@keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

@-webkit-keyframes timerAnimation {
    /* 0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) } */
    from {
        background-color: white;
    }
    to {
        background-color: aqua;
    }
}

@-moz-keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

@-o-keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

.timerAnimation {
    animation: timerAnimation 2s infinite;
    -webkit-animation: timerAnimation 2s infinite;
}

.timeless {
    animation: timerAnimation 2s infinite;
    -webkit-animation: timerAnimation 2s infinite;
    -moz-animation: timerAnimation 2s infinite;
    -o-animation: timerAnimation 2s infinite;
}

.timeless span {
    color: var(--red);
}