:root {
    --red: rgb(230, 43, 30);
    --white: #fff;
    --lightText: #999;
    --text: #333;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

.isRed {
    color: var(--red);
}

.isWhite {
    color: var(--white);
}

.isLight {
    color: var(--lightText);
}

.isText {
    color: var(--text);
}

.bgRed {
    background-color: var(--red);
}

.displayNone {
    display: none;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
}

.navbar-brand {
    margin: 1%;
    max-height: 100%;
    text-decoration: none;
}

.navbar-brand img {
    margin: .5rem 0;
    max-height: 90%;
    max-width: 150px;
}

.navbar-brand h1 {
    font-size: 1.5em;
}

.navbar-brand p {
    font-size: 0.8em;
    color: var(--text);
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-item {
   text-align: center;
   padding: 20px 10px; 
}

.nav-link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    color: var(--red);
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -10px;
    border-bottom: 5px solid var(--red);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

#showtime {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counterForm {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -2;
}

.timeUnit {
    margin-right: .75rem;
}

.cursor {
    padding-left: .15rem;
    border-left: 1px solid;
}

.countDown div span {
    font-size: 4rem;
}

@keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

@-webkit-keyframes timerAnimation {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
}

.timerAnimation {
    animation: timerAnimation 2s infinite;
    -webkit-animation: timerAnimation 2s infinite;
}